<!DOCTYPE html>
<html>
<head>


</head>
<body align="center">

<div class="mainSearch">
  <form [formGroup]="searchForm">
    <mat-form-field class="search">
         <input  name="searchTask" matInput placeholder="Search" formControlName="searchTask" >
    </mat-form-field>
     <button mat-button (click)="toogleForm()" class="show-hidden care">
    <i class="material-icons customMenu">{{ show_hide_title_button }}</i>
  </button>
  </form>
</div>






<div #newTaskForm class="newForm">
   <form #myform = "ngForm" [formGroup]="taskForm" name="form">

   <div class="div-main-form">

      <mat-form-field class="form-field">
         <input formControlName="titleControl" name="title" matInput placeholder="Task Title">
      </mat-form-field>

      <mat-form-field class="form-field">
         <textarea formControlName="noteControl" name="note" matInput placeholder="Notes"></textarea>
      </mat-form-field>


      <mat-form-field class="form-field">
                    <input formControlName="dateControl" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

       <mat-form-field class="form-field">
                  <input formControlName="timeControl" name="time" matInput placeholder="Time: Ex 9 am">
       </mat-form-field>
      
      <mat-form-field class="form-field">
                  <input formControlName="durationControl" name="duration" matInput placeholder="Duration">
       </mat-form-field>

      <div class="form-input-with-profile-pic">
          <!-- Image Preview -->
           <div   *ngIf="selectedCategoryIcon && selectedCategoryIcon !== ''">
                <span class="material-icons category-icon-selected">{{selectedCategoryIcon}}</span>
          </div>
      <mat-form-field class="form-field">
        <input matInput placeholder="Category" formControlName="categoriesControl" [matAutocomplete]="auto" >
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let category of filteredCategories | async" [value]="category.title" (click)="selectCategory(category)">
                <i class="material-icons card-icon-report example-option-img">{{getCategoryIcon(category.title)}}</i>
                <span> {{category.title}}</span> |
                <small>Example: {{category.description}}</small>
             </mat-option>
          </mat-autocomplete>
      </mat-form-field>
    </div>

         

        <div class="form-input-with-profile-pic">
          <!-- Image Preview -->
          <div  *ngIf="imageURL && imageURL !== ''">
                <img class="form-selected-profile-pic" onerror="this.src='./assets/profile-default.png';"  [src]="imageURL">
          </div>
         <mat-form-field class="form-field">
         <input  name="patientControl" matInput placeholder="Search Patient" formControlName="patientControl" [matAutocomplete]="autocompletePatient">
          <mat-autocomplete #autocompletePatient="matAutocomplete">
              <mat-option *ngFor="let patient of patients | async" [value]="patient.last_name"  (click)="selectPatient(patient)">
                
              <img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(patient._id) }}'  class="example-option-img" height="50">               

                <span>{{ patient.last_name }}, {{ patient.first_name }}</span> 
             </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </div>

        <div class="form-input-with-profile-pic">
          <!-- Image Preview -->
          <div  *ngIf="imageNurseURL && imageNurseURL !== ''">
                <img class="form-selected-profile-pic" onerror="this.src='./assets/profile-default.png';"  [src]="imageNurseURL">
          </div>
         <mat-form-field class="form-field">
         <input  name="nurseControl" matInput placeholder="Nurse" formControlName="nurseControl" [matAutocomplete]="autocompleteNurse">
          <mat-autocomplete #autocompleteNurse="matAutocomplete">
              <mat-option *ngFor="let nurse of nurses | async" [value]="nurse.first_name"  (click)="selectNurse(nurse)">
                
              <img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(nurse._id) }}'  class="example-option-img" height="50">               

                <span>{{ nurse.last_name }}, {{ nurse.first_name }}</span> 
             </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      
   </div>

    <p class="buttonsFormMargin">
    <button  mat-flat-button class="button buttonFormMargin new"  (click)="createOrUpdate(myform)"> 
        {{ save_update_button_title }} 
    </button> 
    <button  mat-flat-button class="button cancel" type = "reset" (click)="cancel(myform)"> 
        {{ cancel_title_button }} 
    </button> 
    <button  mat-flat-button class="button debug" (click)="mockup(myform)"> 
          <i class="material-icons">bug_report</i>
    </button> 
  </p>
  </form>

</div>


<div *ngFor="let task of tasks | async">
<mat-card (click)="select(task)" class="patient-card center">
  <mat-card-header>
                  <div mat-card-avatar><img src="assets/food_icon.png" class="card-image"></div>
                  <mat-card-title class="card-title">{{task.time_to_start }} {{ task.title }}</mat-card-title>
                  <mat-card-subtitle class="card-subtitle">
                    <i class="material-icons card-icon">timer</i>
                      {{ task.duration }}
                  </mat-card-subtitle>

                  <mat-card-subtitle class="card-subtitle-report">
                     <img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(task.patient_id) }}'  class="card-image-report">
                       {{ task.patient.last_name  }} {{ task.patient.first_name }}
                  </mat-card-subtitle>

                  <mat-card-subtitle class="card-subtitle-report">
                     <img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(task.nurse_id) }}'  class="card-image-report">
                       {{ task.nurse.last_name }} {{ task.nurse.first_name }}
                  </mat-card-subtitle>
                  <mat-card-subtitle class="card-subtitle">Notes: {{ task.note }}</mat-card-subtitle>
                  <mat-card-subtitle class="card-subtitle">Completed: {{ task.completed }}</mat-card-subtitle>

  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="delete(task)" class="card-button delete">{{delete_title_button}}</button>
    <button mat-button (click)="edit(task,myform)" class="card-button new">{{edit_title_button}}</button>

  </mat-card-actions>
</mat-card>
</div>

</body>
</html>