<div class="row blue">
         <div class="column">
               <div mat-card-avatar class="card-image"><img src="assets/food_icon.png"></div>
         </div>
         <div class="column">
               <mat-card-title>{{ task.title }}</mat-card-title>
         </div>
    </div>

    <mat-card-subtitle>{{ task.category }}</mat-card-subtitle>
    <mat-card-subtitle>{{ task.time_to_start }}</mat-card-subtitle>
    <mat-card-subtitle>{{ task.duration }}</mat-card-subtitle>
    <mat-card-subtitle>{{ task.completed }}</mat-card-subtitle>
    <mat-card-subtitle>{{ task.note }}</mat-card-subtitle>