<!DOCTYPE html>
<html>
<head>


</head>
<body align="center" class="body-class">

<div class="mainSearch">
  <form [formGroup]="searchForm">
    <mat-form-field class="search">
         <input  name="searchTask" matInput placeholder="Search" formControlName="searchTask" >
    </mat-form-field>
     <button mat-button (click)="toogleForm()" class="show-hidden">
    <i class="material-icons customMenu">{{ show_hide_title_button }}</i>
  </button>
  </form>
</div>




<div #newTaskForm class="newForm">
   <form #myform = "ngForm" name="form">

    <div class="div-main-form">
      <mat-form-field class="form-field">
          <input #nameRef name="first_name" matInput placeholder="First Name" ngModel>
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input name="last_name" matInput placeholder="Last Name" ngModel>
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input name="date_of_birth" matInput placeholder="Date of Birth" ngModel>
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input name="sex" matInput placeholder="Sex" ngModel>
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input name="height" matInput placeholder="Height" ngModel>
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input name="weight" matInput placeholder="Weight" ngModel>
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input name="address" matInput placeholder="Address" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="city" matInput placeholder="City" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="zip_code" matInput placeholder="Zip code" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="emergency_contact" matInput placeholder="Emergency Contact" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="emergency_contact_relationship" matInput placeholder="Emergency Contact Relationship" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="emergency_contact_number" matInput placeholder="Emergency Contact Number" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="email" matInput placeholder="Email" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="room" matInput placeholder="Room" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="condition" matInput placeholder="Condition" ngModel>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input name="note" matInput placeholder="Notes" ngModel>
        </mat-form-field>

      
   </div>

   <p class="buttonsFormMargin">
    <button  mat-flat-button class="button new buttonFormMargin" (click)="createOrUpdate(myform)"> 
        {{ save_update_button_title }} 
    </button>
    <button  mat-flat-button class="button cancel" type = "reset" (click)="cancel(myform)"> 
        {{ cancel_title_button }} 
    </button> 
    <button  mat-flat-button class="button debug" (click)="mockup(myform)"> 
          <i class="material-icons">bug_report</i>
    </button> 
  </p>
  </form>

</div>


<div *ngFor="let patient of patients | async">
<mat-card (click)="select(patient, viewContent)" class="patient-card center">
  <mat-card-header>
                  <div mat-card-avatar><img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(patient._id) }}'  class="card-image"></div>
                  <mat-card-title class="card-title">{{ patient.last_name}}, {{ patient.first_name}}<span class='condition {{patient.condition}}'>{{patient.condition}}</span>
                  </mat-card-title>
                  <mat-card-subtitle class="card-subtitle">
                    <i class="material-icons card-icon">single_bed</i>
                       {{ patient.room}}
                  </mat-card-subtitle>
                  <mat-card-subtitle class="card-subtitle">
                    <i class="material-icons card-icon">cake</i>
                       {{ patient.date_of_birth}}
                  </mat-card-subtitle>
                  <mat-card-subtitle class="card-subtitle">Notes: {{ patient.note}}</mat-card-subtitle>
                  

  </mat-card-header>
  <mat-card-content>
     <mat-card-title class="show-more-info"> 
                  <i class="material-icons care">{{ more_info_title_button }}</i>
      </mat-card-title>
      <div #viewContent class="viewContent">

        <span>
         <i class="material-icons">accessibility</i><span class="profile-detail">{{ patient.weight }} kg</span>
        </span>
        <br>

        <span>
         <i class="material-icons">vertical_align_bottom</i><span class="profile-detail">{{ patient.height }} cm</span>
        </span>
        <br>

        <span>
         <i class="material-icons">favorite_border</i><span class="profile-detail">{{ patient.sex }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">local_hospital</i><span class="profile-detail">{{ patient.emergency_contact }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">contact_phone</i><span class="profile-detail">{{ patient.emergency_contact_number }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">contacts</i><span class="profile-detail">{{ patient.emergency_contact_relationship }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">email</i><span class="profile-detail">{{ patient.email }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">person_pin</i><span class="profile-detail">{{ patient.address }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">beenhere</i><span class="profile-detail">{{ patient.city }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">map</i><span class="profile-detail">{{ patient.zip_code }}</span>
        </span>
        <br>


    </div>

  </mat-card-content>




  <mat-card-actions>
    <button mat-button (click)="delete(patient)" class="card-button delete">{{delete_title_button}}</button>
    <button mat-button (click)="edit(patient,myform)" class="card-button new">{{edit_title_button}}</button>

  </mat-card-actions>
</mat-card>
</div>

</body>
</html>