
<!DOCTYPE html>
<html>
<head>
</head>
<body>


<mat-toolbar  style="background: #000000">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()" class="hamb-men" >menu</mat-icon>
    </button>
    <h1><span class="title-toolbar-app aven">AVEN</span><span  class="title-toolbar-app care">CARE</span><span class="title-toolbar-app aven">  v 2.1</span></h1>
    <span class="fill-space"></span>
    <span class="menu-spacer"></span>


    <div>
      <img src="assets/canada.svg" class="language-icon" align="center" (click)="setLanguage('EN')">
      <img src="assets/france.svg" class="language-icon" align="center" (click)="setLanguage('FR')">
      <img src="assets/profile.png" class="image-logged-user-profile" align="center">
      <span class="logged-user">Emma Clark </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav  mode="side" opened="true" class="black" >
    <mat-nav-list class="navMenu" >

      <a mat-list-item [routerLink]="'/home'" class="list-menu"> 
         <i class="material-icons customMenuSide">home</i>

        <div class="menu-text">{{menuTitleHome}}</div> 
      </a>

      <a mat-list-item [routerLink]="'/patients'" class="list-menu"> 
          <i class="material-icons customMenuSide">people_alt</i>
        <div class="menu-text">{{menuTitlePatients}}</div> 
      </a>
     
      <a mat-list-item [routerLink]="'/nurses'" class="list-menu">
          <i class="material-icons customMenuSide">face</i>
        <div class="menu-text"> {{menuTitleNurses}} </div>
      </a>

      <a mat-list-item [routerLink]="'/tasks'" class="list-menu">
          <i class="material-icons customMenuSide">list</i>
        <div class="menu-text"> {{menuTitleTasks}} </div>
      </a>

       <a mat-list-item [routerLink]="'/reports'" class="list-menu"> 
          <i class="material-icons customMenuSide">insert_drive_file</i>
        <div class="menu-text">Reports</div> 
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 100vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</body>
</html>