
<input id="fileInput" type='file' (change)="onSelectFilePictureNewPatient($event)" class="file">
<button *ngIf="false" (click)="removeFilePictureNewPatient()" >delete</button>

<mat-card class="patient-card center">
  <mat-card-header>
       <mat-card-title class="card-title">Patient</mat-card-title>               
  </mat-card-header>
  <mat-card-content>

  	<mat-accordion>
  
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       New
      </mat-panel-title>
      <mat-panel-description>
         create new patient
      </mat-panel-description>
    </mat-expansion-panel-header>
       
       <form [formGroup]="newPatientForm">
      	
        <mat-grid-list cols="5" rowHeight="1:1">

			  <mat-grid-tile class="" >
              
              <label class="hoverable" for="fileInput">
              <img [src]="selectedNewPatientProfileURL ? selectedNewPatientProfileURL : './assets/profile-default.png'" class="new-patient-profile"> 
              </label>
                <br/>
              <div class="background"></div>

          
				 
  			</mat-grid-tile>

  			<mat-grid-tile class="" colspan=2>

  				<mat-form-field class="form-field">
				
					<input formControlName="firstNameControl" name="first_name" matInput placeholder="First Name">

				</mat-form-field>

  			</mat-grid-tile>

  			<mat-grid-tile class="" colspan=2>

  				<mat-form-field class="form-field">

  					<input formControlName="lastNameControl" name="last_name" matInput placeholder="Last Name">

  				</mat-form-field>

  			</mat-grid-tile>
		</mat-grid-list>

		<mat-grid-list cols="4" rowHeight="3:1">


      		<mat-grid-tile class="" >

      			<mat-form-field class="form-field">
				 
					<input formControlName="dateOfBirthControl" name="date_of_birth" matInput placeholder="Birthday">

				</mat-form-field>

  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<mat-form-field class="form-field">

  					<input formControlName="sexControl" name="sex" matInput placeholder="Sex">

  				</mat-form-field>

  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<mat-form-field class="form-field">

  					<input formControlName="heightControl" name="height" matInput placeholder="Height">

  				</mat-form-field>
				 
  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<mat-form-field class="form-field">

  					<input formControlName="weightControl" name="weight" matInput placeholder="Weight">

  				</mat-form-field>
				 
  			</mat-grid-tile>


  		</mat-grid-list>


  		<mat-grid-list cols="3" rowHeight="4:1">


      		<mat-grid-tile class="" >

      			<mat-form-field class="form-field">

      				<input formControlName="addresControl" name="address" matInput placeholder="Address">

      			</mat-form-field>

  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<mat-form-field class="form-field">

  					<input formControlName="cityControl" name="city" matInput placeholder="City">

  				</mat-form-field>

  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<mat-form-field class="form-field">

  					<input formControlName="zipCodeControl" name="zip_code" matInput placeholder="Zip code" >

  				</mat-form-field>

  			</mat-grid-tile>

  		</mat-grid-list>
  		<mat-grid-list cols="3" rowHeight="4:1">

      		<mat-grid-tile class="" >

      			<mat-form-field class="form-field">

      				<input formControlName="emergencyContactControl" name="emergency_contact" matInput placeholder="Emergency Contact">

      			</mat-form-field>
				 
  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<mat-form-field class="form-field">

  					<input formControlName="emergencyContactRelationshipControl" name="emergency_contact_relationship" matInput placeholder="Relationship">

  				</mat-form-field>
				 
  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<mat-form-field class="form-field">

  					<input formControlName="emergencyContactNumberControl" name="emergency_contact_number" matInput placeholder="Number">

  				</mat-form-field>

				 
  			</mat-grid-tile>

  		</mat-grid-list>
  		<mat-grid-list cols="1" rowHeight="12:1">


      		<mat-grid-tile class="" >

      			<mat-form-field class="form-field">
      			          
      				<input formControlName="emailControl" name="email" matInput placeholder="Email">

      			</mat-form-field>
				 
  			</mat-grid-tile>

  		</mat-grid-list>
  		<mat-grid-list cols="2" rowHeight="6:1">


      		<mat-grid-tile class="" >

      			<mat-form-field class="form-field">

      				<input formControlName="roomControl" name="room" matInput placeholder="Room">

      			</mat-form-field>
				 
  			</mat-grid-tile>
  			<mat-grid-tile class="" >

  				<mat-form-field class="form-field">

  					<input formControlName="conditionControl" name="condition" matInput placeholder="Condition">

  				</mat-form-field>
				 
  			</mat-grid-tile>

  		</mat-grid-list>
  		<mat-grid-list cols="1" rowHeight="12:1">

      		<mat-grid-tile class="" >

      			<mat-form-field class="form-field">

      				<input formControlName="noteControl" name="note" matInput placeholder="Notes">

      			</mat-form-field>
				 
  			</mat-grid-tile>

  		</mat-grid-list>
  		<mat-grid-list cols="3" rowHeight="3:1">


      		<mat-grid-tile class="" >

      			<button  mat-flat-button class="button new buttonFormMargin" (click)="create(panel)"> 
        				NEW
    			</button>
				 
  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<button  mat-flat-button class="button cancel" type = "reset" (click)="cancel(panel)"> 
       				CANCEL
    			</button> 
				 
  			</mat-grid-tile>

  			<mat-grid-tile class="">

  				<button  mat-flat-button class="button debug" (click)="mockup()"> 
          					<i class="material-icons">bug_report</i>
    				</button>
				 
  			</mat-grid-tile>

  		</mat-grid-list>


      </form>
  </mat-expansion-panel>
</mat-accordion>
 </mat-card-content>
</mat-card>



    
    