<!DOCTYPE html>
<html>
<head>


</head>
<body align="center">

<div class="mainSearch">
  <form [formGroup]="searchForm">
    <mat-form-field class="search">
         <input  name="searchTask" matInput placeholder="Search" formControlName="searchTask" >
    </mat-form-field>
  </form>
</div>


<div *ngFor="let report of reports | async">
<mat-card (click)="select(report, viewContent)" class="patient-card center">
  <mat-card-header>
                  <mat-card-title class="report-card-title"> 
                  	{{ report.task.date }} 
              		{{ report.task.title   }} @ {{ report.patient.room }}
              	  </mat-card-title>

                  <mat-card-subtitle class="card-subtitle">
                      <i class="material-icons card-icon-report">{{getCategoryIcon(report.task.category)}}</i>
                       {{ report.task.category }}
                  </mat-card-subtitle>
                  
                  <mat-card-subtitle class="card-subtitle">
                     <img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(report.patient_id) }}'  class="card-image-report">
                       {{ report.patient.last_name  }} {{ report.patient.first_name }}
                  </mat-card-subtitle>
                  <mat-card-subtitle class="card-subtitle">
                     <img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(report.nurse_id) }}'  class="card-image-report">
                       {{ report.nurse.last_name }} {{ report.nurse.first_name }}
                  </mat-card-subtitle>
                  



   </mat-card-header>

    <mat-card-content>
      <mat-card-title class="card-title report-card-title care"> 
                  <i class="material-icons care">{{ show_hide_title_button }}</i>
      </mat-card-title>
      <div #viewContent class="viewContent">
        <div class="report-content-title">Results</div>
    	<div class="reading-background" *ngFor="let reading of report.readings ">
		    <span class="readings-name">{{ reading.name }}</span> <span> <i class="material-icons care reading-icon">double_arrow</i></span> <span class="readings-value">{{ reading.result }}</span>

		  </div>
		</div>

  </mat-card-content>




  <mat-card-actions>
    <button mat-button (click)="delete(report)" class="card-button delete">{{delete_title_button}}</button>

  </mat-card-actions>
</mat-card>
</div>

</body>
</html>
