<!DOCTYPE html>
<html>
<head>


</head>
<body align="center">

<div class="mainSearch">
  <form [formGroup]="searchForm">
    <mat-form-field class="search">
         <input  name="searchTask" matInput placeholder="Search" formControlName="searchTask" >
    </mat-form-field>
     <button mat-button (click)="toogleForm()" class="show-hidden">
    <i class="material-icons customMenu">{{ show_hide_title_button }}</i>
  </button>
  </form>
</div>




<div #newTaskForm class="newForm">
   <form #myform = "ngForm" [formGroup]="nurseForm" name="form">

    <div class="div-main-form">
      <mat-form-field class="form-field">
          <input formControlName="firstNameControl" name="first_name" matInput placeholder="First Name" >
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input formControlName="lastNameControl" name="last_name" matInput placeholder="Last Name" >
        </mat-form-field>

         <mat-form-field class="form-field">
          <input formControlName="registerNurseIDControl" name="register_nurse_id" matInput placeholder="Register Nurse ID" >
        </mat-form-field>

		<mat-form-field class="form-field">
  		<mat-label>Shift</mat-label>
  			<mat-select formControlName="shiftControl" >
    			<mat-option *ngFor="let shift of shifts" [value]="shift.value">
      			{{shift.viewValue}}
    			</mat-option>
  			</mat-select>
		</mat-form-field>
        
        <mat-form-field class="form-field">
          <input formControlName="dateOfBirthControl" name="date_of_birth" matInput placeholder="Date of Birth" >
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input formControlName="addresControl" name="address" matInput placeholder="Address" >
        </mat-form-field>

        <mat-form-field class="form-field">
          <input formControlName="cityControl" name="city" matInput placeholder="City" >
        </mat-form-field>

        <mat-form-field class="form-field">
          <input formControlName="zipCodeControl" name="zip_code" matInput placeholder="Zip code" >
        </mat-form-field>

        <mat-form-field class="form-field">
          <input formControlName="numberControl" name="number" matInput placeholder="Number" >
        </mat-form-field>

        <mat-form-field class="form-field">
          <input formControlName="emailControl" name="email" matInput placeholder="Email" >
        </mat-form-field>

      
   </div>

   <p class="buttonsFormMargin">
    <button  mat-flat-button class="button new buttonFormMargin" (click)="createOrUpdate(myform)">
        {{ save_update_button_title }} 
    </button>
    <button  mat-flat-button class="button cancel" type = "reset" (click)="cancel(myform)"> 
        {{ cancel_title_button }} 
    </button> 
    <button  mat-flat-button class="button debug" (click)="mockup()"> 
          <i class="material-icons">bug_report</i>
    </button> 
  </p>
  </form>

</div>


<div *ngFor="let nurse of nurses | async">
<mat-card (click)="select(nurse, viewContent)" class="patient-card center">
  <mat-card-header>
                  <div mat-card-avatar><img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(nurse._id) }}'  class="card-image"></div>
                  <mat-card-title class="card-title">{{ nurse.last_name}}, {{ nurse.first_name}}</mat-card-title>
                  <mat-card-subtitle class="card-subtitle">
                    <i class="material-icons card-icon">account_box</i>
                       {{ nurse.register_nurse_id}}
                  </mat-card-subtitle>
                  <mat-card-subtitle class="card-subtitle">
                    <i class="material-icons card-icon">alarm</i>
                       {{ nurse.shift}}
                  </mat-card-subtitle>

                  

  </mat-card-header>
  <mat-card-content>
      <mat-card-title class="card-title report-card-title care"> 
                  <i class="material-icons care">{{ more_info_title_button }}</i>
      </mat-card-title>
      <div #viewContent class="viewContent">

        <span>
         <i class="material-icons">cake</i><span class="profile-detail">{{ nurse.date_of_birth }}</span>
        </span>
        <br>

         <span>
         <i class="material-icons">phone</i><span class="profile-detail">{{ nurse.number }}</span>
        </span>
        <br>

       <span>
         <i class="material-icons">email</i><span class="profile-detail">{{ nurse.email }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">person_pin</i><span class="profile-detail">{{ nurse.address }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">beenhere</i><span class="profile-detail">{{ nurse.city }}</span>
        </span>
        <br>

        <span>
         <i class="material-icons">map</i><span class="profile-detail">{{ nurse.zip_code }}</span>
        </span>
        <br>

    </div>

  </mat-card-content>




  <mat-card-actions>
    <button mat-button (click)="delete(nurse)" class="card-button delete">{{delete_title_button}}</button>
    <button mat-button (click)="edit(nurse,myform)" class="card-button new">{{edit_title_button}}</button>

  </mat-card-actions>
</mat-card>
</div>

</body>
</html>