/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin:0;font-family: Roboto, "Helvetica Neue", sans-serif; }


.content-app {
  width:  80vh; 
  float: left; 
}
.navMenu {

      width: 50px;
      background-color: #000000;

}

@media only screen and (min-width: 600px) {
  .navMenu {
      background-color: #000000;

       width: 100px;

  }
}

@media only screen and (min-width: 768px) {
  .navMenu {
      background-color: #000000;

    width: 200px;
  }

}
.menu-text {
   display: none;
  }

    
@media only screen and (max-width: 600px) {
  .menu-text {
   display: none;

  }
}

@media only screen and (min-width: 768px) {
  .menu-text {
   color: #f0f0f0;
   font-size: 30px;
   display: inline;

  }

}

.hamb-men {
  color: #ffffff;
  display: none;
}

/* Home */

.fill-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
} 


.image-logged-user-profile {

  width: 40px;
  height: 40px;
  margin-right: 20px;


}


 .logged-user {

    display: none;

  }


  
.card-image {
    background-size: cover;
    width: 50px;
    height: 50px;
}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

 .card-image {

    width: 80px;
    height: 80px;
  }

}


.card-title {
  font-size: 15px;
  margin-left: 5px;
}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

 .card-title {
  font-size: 25px;
  margin-left: 40px;
 }
}

.card-subtitle {
  font-size: 15px;
  text-align: left;
  margin-left: 5px;
  
}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

 .card-subtitle {
  font-size: 20px;
  text-align: left;
  margin-left: 40px;
 }
}

.show-more-info {
    font-size: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

.show-more-info {
    font-size: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 20px;

  }
}

.profile-detail {
  font-size: 15px;
  margin-left: 5px;
  color: #747474;
}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

 .profile-detail {
   font-size: 25px;
   margin-left: 20px;
   color: #747474;

 }
}

.material-icons.profile-detail { 
    color: #FFFFFF; 
    font-size: 15px;
    padding-right: 10px;

}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

 .material-icons.profile-detail { 
    color: #FFFFFF; 
    font-size: 25px;
    padding-right: 10px;

 }
}

.buttonsFormMargin {
  display: flex;
  justify-content: space-evenly;

  max-width: 100%;
  margin: 0 auto;
  padding: 5px 0;

}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

 .buttonsFormMargin {
  display: flex;
  justify-content: space-evenly;

  max-width: 60%;
  margin: 0 auto;
  padding: 5px 0;

}
}


/*change size*/
.button {
  color: #ffffff;
  margin-top: 20px;
  width: 80px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}
@media only screen and (min-width: 600px) {
/* STYLES GO HERE */ 

 .button {
  color: #ffffff;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;


 }
}

@media only screen and (min-width: 850px) {
/* STYLES GO HERE */ 

 .button {
  color: #ffffff;
  margin-top: 20px;
  width: 130px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;


 }
}







@media only screen and (min-width: 600px) {

.logged-user {

  color: #ffffff;
  margin-right: 100px;
  display: inline;

}

}

.menu-icon {
  color: #ffffff;
  display: inline;
}



.viewContent {
  display: none;
  text-align: left;
  margin-left: 40px;
  padding: 10px;

  justify-content: left;
}

.image-menu-icon {
    width: 40px;
    height: 40px;

}
/*giovanne*/
.category-icon-selected {

    width: 35px;
    height: 35px;

    font-size: 25px;
    color: #000000;
    display: block;
    margin:0 auto;

    padding: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;

}



.material-icons.showMoreInfo { 
    color: #FFFFFF; 
    font-size: 20px;
    padding-right: 10px;
}


.material-icons.customMenuSide { 
    color: #FFFFFF; 
    font-size: 20px;
    padding-right: 10px;
}


.material-icons.customMenu { 
    color: #FFFFFF; 
    font-size: 20px;
    padding-right: 10px;
}

.list-menu {
  margin-top: 20px;
  background-color: #000000;
}


.language-icon {
      margin-right: 5px;
      width: 15px;
      height: 15px;
  }


@media only screen and (min-width: 600px) {
  .language-icon {
     margin-right: 10px;
      width: 30px;
      height: 30px;
  }

}


/* Patient condition colors  all sizes */
.condition {
   font-size: 10px;
   color: #FFFFFF;   
   margin-left: 5px;
   padding: 5px;

}

.GOOD {
  background-color: #28D8A1;
}


.FAIR {
   background-color: #d8cc28;
}

.SERIOUS {
  background-color: #d87428;

}


.CRITICAL {
    background-color: #d82842;

}

.hidden {

  display: none;
}


/* App toolbar title mobile change size */

.title-toolbar-app {
    font-size: 15px;

}

@media only screen and (min-width: 600px) {

  .title-toolbar-app {
    font-size: 25px;

  }

 
}

.aven {
   color:#ffffff;

}

.care{
 color:#28d8a1;

}

/*.title {
   font-size: 40px;
   color: #28D8A1;   
   margin-left: 50px;
}*/

/* main form should change iphone*/

.div-main-form {
   width: 60%;
   display: inline-block;
   text-align:center
}


.form-field {
   width: 100%;
   display: inline-block;
}






.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}


.form-input-with-profile-pic {
  display: flex;
  justify-content: space-evenly;

  max-width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}
.form-selected-profile-pic {
  width: 50px;
  height: 50px;
  margin:0 auto;
  vertical-align: middle;
  padding: 5px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}


.mainSearch {

}


.black {

    background-color: #000000;

}

.red {

    background-color: #990000;

}

.blue {

    background-color: #000099;

}

.green {

    background-color: #009900;

}

.patient-card {
   width: 75%;
  margin: 10px auto;
}



.delete {
    background-color: #d82842;

}

.new {
    background-color: #28D8A1;

}

.cancel {
    background-color: #d8cc28;

}

.debug {
    background-color: #d87428;


}


.material-icons.debug { 
    color: #FFFFFF; 
    font-size: 40px;
    padding-right: 10px;
  }





.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.report-content-title {
      font-size: 30px;
      display: block;
      padding-bottom: 20px;

}

.reading-background {

}
.reading-icon {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 10px;

}



.readings-name {
    font-size: 15px;
    color: #747474;
}


.readings-value {
      font-size: 15px;

}

@media only screen and (min-width: 768px) {

  .readings-name {
      font-size: 25px;
     color: #747474;
  }


  .readings-value {
      font-size: 25px;

  }

  .reading-icon {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;

 }
}


.show-hidden {

  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  margin:0 auto;
  margin-top: 20px;
  display:block;
  width: 100px;
  height: 40px;
  border: none;
  text-align: center;
  text-decoration: none;

}







.card-icon {
  color: #000000;
  display: inline;

}


.card-button {
  color: #ffffff;
  width: 100px;
  height: 40px;
}



 .report-card-title {

    font-size: 10px;
    padding: 10px;
    margin-bottom: 20px;

  }

@media only screen and (min-width: 600px) {

  .report-card-title {

    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;



  }
}


.card-image-report {
  width: 40px;
  height: 40px;
  margin:0 auto;
  vertical-align: middle;
  padding: 5px;



}


.card-icon-report{
    font-size: 25px;
    color: #000000;
    display: inline;
    margin:0 auto;

    padding: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;

  }

.search {
  
  width: 60%;
  margin-left:10px;

  font-size: 15px;
}

.material-icons.customMenuSide { 
    color: #FFFFFF; 
    font-size: 25px;
    padding-right: 10px;
}
.material-icons.customMenu { 
    color: #28D8A1; 
    font-size: 25px;
    padding-right: 10px;
  }

@media only screen and (min-width: 600px) {
	  /* For tablets: */
	  .material-icons.customMenu { 
	    color: #28D8A1; 
	    font-size: 45px;
	    padding-right: 10px;
	  }

.material-icons.customMenuSide { 
    color: #FFFFFF; 
    font-size: 45px;
    padding-right: 10px;
}

	  .search {
	  
	  width: 60%;
	  margin-left:40px;

	  font-size: 30px;
	}


	
	.card-icon{
	  color: #000000;
	  display: inline;

	}


	.card-button {
	  color: #ffffff;
	  width: 150px;
	  height: 50px;
	}

	.show-hidden {

	  background-color: rgba(255, 255, 255, 0);
	  color: #ffffff;
	  margin:0 auto;
	  margin-top: 20px;
	  display:block;
	  width: 150px;
	  height: 50px;
	  border: none;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;

	}






.side-menu {

	    width: 30px;
}

@media only screen and (min-width: 600px) {
  .side-menu {

       width: 100px;

  }
}

@media only screen and (min-width: 768px) {
  .side-menu {

    width: 200px;
  }

}



	  .menu-icon {
	      display: none;

	  }



	 /* .material-icons.customMenu { 
	    color: #FFFFFF; 
	    font-size: 40px;
	    padding-right: 10px;
	}*/



}

@media only screen and (min-width: 768px) {
/* For desktop: */
	.material-icons.customMenu { 
	    color: #28D8A1; 
	    font-size: 45px;
	    padding-right: 10px;
	  }

.material-icons.customMenuSide { 
    color: #FFFFFF; 
    font-size: 45px;
    padding-right: 10px;
}

	.search {
	  
	  width: 60%;
	  margin-left:40px;

	  font-size: 30px;
	}





	.card-icon {
	  color: #000000;
	  display: inline;

	}


	.card-button {
	  color: #ffffff;
	  width: 150px;
	  height: 50px;
	}

	.show-hidden {

	  background-color: rgba(255, 255, 255, 0);
	  color: #ffffff;
	  margin:0 auto;
	  margin-top: 20px;
	  display:block;
	  width: 150px;
	  height: 50px;
	  border: none;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;

	}

  .menu-icon {
      display: none;

  }

 

  .image-menu-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;

  }

 

/*  .material-icons.customMenu { 
    color: #FFFFFF; 
    font-size: 45px;
    padding-right: 10px;
  }*/
}

