



<mat-card class="patient-card center">
  <mat-card-header>
       <mat-card-title class="card-title">Alarm</mat-card-title>               
  </mat-card-header>
  <mat-card-content>

  	<mat-accordion>
  
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create new alarm
      </mat-panel-title>
      <mat-panel-description>
        send a message to all nurses
      </mat-panel-description>
    </mat-expansion-panel-header>
       <form #myform = "ngForm" [formGroup]="alarmForm" name="form">
      	<mat-grid-list cols="3" rowHeight="2:1">
			<mat-grid-tile colspan="3">
				 <mat-form-field class="form-field">
         			<textarea formControlName="messageControl" name="note" matInput placeholder="Message"></textarea>
      			</mat-form-field>
  			</mat-grid-tile>
  			    <mat-grid-tile></mat-grid-tile><mat-grid-tile></mat-grid-tile>
  			     <mat-grid-tile>
  			     	
  			     	 <button  mat-flat-button class="button buttonFormMargin new"  (click)="sendAlarm(panel)"> SEND ALARM </button> 
  			     </mat-grid-tile>
      	</mat-grid-list>
      </form>
  </mat-expansion-panel>
</mat-accordion>
 </mat-card-content>
</mat-card>

<app-new-patient></app-new-patient>




  <mat-card class="patient-card center">
  <mat-card-header>
       <mat-card-title class="card-title">Patients</mat-card-title>               
  </mat-card-header>
  <mat-card-content>
 

    <mat-grid-list cols="4" rowHeight="3:1" class="table-padding">
      <div *ngFor="let patient of patients | async">

           <mat-grid-tile>
             <img  onerror="this.src='./assets/profile-default.png';" src='{{ getProfilePicture(patient._id) }}'  class="room-profile-img profile-profile-cell cell-patient-condition-{{patient.condition}}">
            </mat-grid-tile>
      
      </div>
      
  </mat-grid-list>

  </mat-card-content>
</mat-card>



<mat-card class="patient-card center">
  <mat-card-header>
       <mat-card-title class="card-title">Rooms</mat-card-title>               
  </mat-card-header>
  <mat-card-content>

  	<mat-grid-list cols="4" rowHeight="2:1">
  			<mat-grid-tile class="GOOD">
  				<img src="./assets/profile-default.png" class="room-profile-img">
  			</mat-grid-tile>
  			<mat-grid-tile><h3>A02</h3></mat-grid-tile>
  			<mat-grid-tile><h3>A03</h3></mat-grid-tile>
  			<mat-grid-tile><h3>A04</h3></mat-grid-tile>
  			<mat-grid-tile><h3>A05</h3></mat-grid-tile>
  			<mat-grid-tile class="SERIOUS">
  				  	<img src="./assets/profile-default.png" class="room-profile-img">
  			</mat-grid-tile>
  			<mat-grid-tile><h3>A07</h3></mat-grid-tile>
  			<mat-grid-tile class="CRITICAL">
  				    <img src="./assets/profile-default.png" class="room-profile-img">
			</mat-grid-tile>
  			<mat-grid-tile><h3>A09</h3></mat-grid-tile>
  			<mat-grid-tile><h3>A10</h3></mat-grid-tile>
  			<mat-grid-tile><h3>A11</h3></mat-grid-tile>
  			<mat-grid-tile><h3>A12</h3></mat-grid-tile>

	</mat-grid-list>

  </mat-card-content>
</mat-card>