
.my-grid-list {
    padding: 10px !important;
}

.new-patient-profile {
  width: 60px;
  height: 60px;
  background-color: #ff0000;
}

.table-padding {
  padding: 20px;
}

.profile-cell {
   padding:1px;
   border:1px solid #021a40;
   border-radius: 50%;
   margin: 0px;
}
.cell-patient-condition-GOOD {
  padding:1px;
   border:1px solid #021a40;
   border-radius: 50%;
   margin: 0px;
     background-color:#00ff00;
}
.cell-patient-condition-CRITICAL {
  padding:1px;
   border:1px solid #021a40;
   border-radius: 50%;
   margin: 0px;
     background-color: #ff0000;
}

div.fileinputs {
  position: relative;
}

div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}


.room-profile-img {
  display: inline;
  position: absolute;
   width: auto; 
   height: 100%;
}


.room-condition {
  float: right;
   overflow: hidden;
    color: #ffffff;
    z-index: 2;
    margin-top: 10px;


}


.home-patients {
  background-color: #ff0000;
}
.room-profile-name {
	display: block;
}

.image {
  top: 10%;
  left: 10%;
  min-height: 20%;
  min-width: 20%;
  transform: translate(-50%, -50%);
}


